

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
img{
  width: 200px;
  height: 150px;

}
#siu{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(240, 241, 243);
  margin-top: 50px;
  border-radius:30px;
  
}
button{
  margin-top: 20px;
  width: 80px;
 text-align: right;
  margin-bottom: 10px;
}
